---
layout: page
title: "404"
permalink: /404
---
<h2>404</h2>
<p>Sorry! This page is not available at the moment.</p>
<p>If you think there should be something here please <a href="mailto:{{ site.email }}?subject=Page%20not%20found">let me know</a> so I can fix it.</p>
<p>Recent blog posts can be found below:</p>
<p>
	{% if site.posts.size == 0 %}
		<p>Nothing published yet!</p>
	{% elsif site.paginate %}
		{% for post in paginator.posts %}
	        {% include blog-404.html %}
	    {% endfor %}

		{% if site.paginate %}
			{% include pagination.html%}
		{% endif %}
	{% else %}
		{% for post in site.posts %}
			{% include blog-404.html %}
		{% endfor %}
	{% endif %}
</p>
