{{ partial "header.html" . }}

<header class="row text-left title">
  <h1>{{ with .Site.GetPage "section" "about" }}{{ .Title }}{{ end }}</h1>
</header>
<section id="content-pane" class="row">
  <div class="col-md-12 text-justify content">
    {{ .Content }}
    <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md - for list template -->
  </div>
</section>
<section id="list-pane" class="row list">
  <ul >
    {{ range .Data.Pages.ByPublishDate }}
    <li class="list-entry">
      <a class="list-entry-link" href="{{ .Permalink }}">{{ .Title }}</a>
      <span class="meta">{{ .Date.Format .Site.Params.dateformat | upper }}</span>
    </li>
    {{ end }}
  </ul>
</section>

{{ partial "menu.html" . }}

{{ partial "footer.html" . }}
